/* CSS declarations go here */
.nav-wrapper{
    padding-left:10px;
}

.breadcrumb-holder{
    vertical-align:top;
    height:55px;
}
.determinate,
.progress{
    margin:0 !important;
}

html, body{
    height:100%;
}

header, main, footer, body {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer, body {
        padding-left: 0;
    }
}

.default-leaf { color:black; background-color:#DCDCDC; }

.selected-leaf { color:white; background-color:#191970; }
#chart_div {
    overflow-y:hidden;
    width: 100%;
    height: 90%;
    display: block;
}

.container{
    height:100%;
}

.green{
    background-color:#00bfa5;
}