/* Padding for the breadcrumb bar */
.nav-wrapper{
    padding-left:10px;
}

/* Makes FAB go darker when side-nav expands*/
.fixed-action-btn{
     z-index:997;
 }

/* Makes the breadcrumb bar take slightly less space */
.breadcrumb-holder{
    height:43px;
    line-height:45px;
}

/* Progress bar hugs the object above it */
.determinate,
.progress{
    margin:0;
}

/* For the sidenav */
header, main, footer, body {
    padding-left: 240px;
}

/* For the login screen */
.no-left-padding{
    padding-left: 0;
}

/* Also for the sidenav */
@media only screen and (max-width : 992px) {
    header, main, footer, body {
        padding-left: 0;
    }
}

/* The home screen heading */
.home-heading{
    text-align:center;
}

/* The version number next to the main heading */
.version-number{
    display:inline;
    padding-left:0;
    margin-left:-20px;
}

/* buttons that fill their container */
.spread-button{
    width:100%;
}

/* The small sign up text in the main menu */
.signup-text{
    text-align: center;
}

/* The logo on the login and signup screens */
.main-logo{
    position: absolute;
    max-height: 250px;
    z-index:-1;
    opacity:0.5;
    left:50%;
}

/* Facebook blue color */
.facebook-blue{
    background-color:#3b5998;
}


/* For non-matching password inputs */
.input-field input[type=password].nomatch {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

/* Disable DOM selection */
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Allows selection in the tree export modal */
.tree-export-text {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* For when there are changes to the menu */
.orange-fab {
    background-color:#ffb74d;
}

/* To resize the body for tree displays */
body, html{
    height:100%;
}

/* Resize for tree display */
#chart_div {
    overflow-y:hidden;
    width: 100%;
    height: 90%;
    display: block;
}

/* Make mouse change to hand over itemLink elements */
.itemLink{
    cursor: pointer;
}

/* Allow for smaller items in menu view */
.collection-item.avatar{
    min-height: 65px !important;
}

/* NewItemModal needs some space around the slider*/
.newItemModalSlider{
    margin-top:20px;
    margin-bottom:20px;
}

/* This fixed error messages on inputs */
label[data-error]:after {
    white-space: nowrap;
}


/* Working on these */

.default-leaf { color:black; background-color:#DCDCDC; }

.selected-leaf { color:white; background-color:#191970; }

.container{
    height:100%;
}

